<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- thymeleafと拡張機能を使用するおまじない -->
<head>
<meta charset="UTF-8" />
</head>
<body>
<th:block th:fragment="common_menu(module)">
<div class="modal-body nav">
<ul>
<li><a href="#" th:href="@{/about}">このサイトについて</a></li>
<li><a href="#" th:href="@{/photo}">写真（更新予定）</a></li>
<li><a href="#" th:href="@{/comment/list}">つぶやく</a></li>
<li><a href="#" th:href="@{/}">？？？（考え中）</a></li>
</ul>
</div>
</th:block>
</body>
</html>