<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta name="robots" content="noindex" />
<title>Layout</title>
<!-- CSS -->
<link rel="stylesheet" type="text/css"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
th:href="@{webjars/Magnific-Popup/1.0.0/magnific-popup.css}" />
<link rel="stylesheet" type="text/css"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/animate.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/lightbox.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/circle.css}" />
</head>
<body>
<!-- JS -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/webjars/masonry/3.1.5/masonry.pkgd.min.js}"
	    src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.0/masonry.pkgd.min.js"></script>
<script th:src="@{/webjars/Magnific-Popup/1.0.0/jquery.magnific-popup.min.js}"
	    src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
<div layout:fragment="content">Fake Contents</div>
</body>
</html>