<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<!-- thymeleafと拡張機能を使用するおまじない layout.htmlの階層に注意！-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>板校はおかず</title>
</head>
<body class="main">
	<div layout:fragment="content">
		<!-- Start Intro Section -->
		<section id="intro" class="section-intro">
				<div class="overlay">
					<div class="container wide">
						<div class="row">
							<div class="main-text">
								<h2>問題</h2>
								<h2 class="wow fadeInUp" th:text="${quiz.contents}">クイズの問題を表示</h2>
								<form class="form-signin" th:action="@{/login}" method="post">
									<input type="hidden" class="form-control" name="id"	th:value="${quiz.id}" />
									<div class="row text-center">
										<div class="form-group has-feedback col-sm-4 col-sm-offset-4">
											<input type="text" class="form-control" name="password"	placeholder="答えは？" required="required" />
											<div th:if="${param.error}" class="error-color">はずれ。もう一回。</div>
										</div>
									</div>
									<div class="text-center">
										<button class="btn clear-btn" type="submit">回答する</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
		</section>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
var wow = new WOW({
    mobile: false
});
wow.init();
/*]]>*/
</script>
</div>
</body>
</html>